<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Vendors/Css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.Partial("_NavBar")
    @Html.Partial("_MenuNav")

    @RenderBody()

    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    <div class="mask mobile-nav-btn"></div>
    @Html.Partial("_MobileNavPannel")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)
</body>
</html>
