@model AussieLink.Contracts.ViewModels.ForgotPasswordVM
@{
    ViewBag.Title = "Reset Password";
}

<div class="c-h80vh">
    <div class="c-mx390px-cntr">
        <p class="c-font25px-header forgot-pwd__header">Find your AUSSIE<span class="color-main-blue">LINK</span> account</p>
        @Html.ValidationSummary(true)
        <p class="forgot-pwd__desc-box">Please enter your email address</p>

        @using (Html.BeginForm("ForgotPassword", "Account"))
        {
            <div class="signup__input-cntr">
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { placeholder = "Email", @class = "form-input signup__input" } })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <button type="submit" class="c-btn signup__btn">Submit</button>

            @Html.AntiForgeryToken()
        }
    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

