@model AussieLink.Contracts.ViewModels.ResetPasswordVM

@{
    ViewBag.Title = "Reset Password";
}

<div class="c-h80vh">
    <div class="c-mx390px-cntr">
        <p class="c-font25px-header">Reset your password</p>

        @using (Html.BeginForm("ResetPassword", "Account"))
        {
            <div class="signup__input-cntr">
                <p class="rst-pwd__desc-text">Type your new password</p>
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = "Password", @class = "form-input signup__input" } })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="signup__input-cntr">
                <p class="rst-pwd__desc-text">Type your new password one more time</p>
                @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password", @class = "form-input signup__input" } })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <button type="submit" class="c-btn signup__btn">Submit</button>

            @Html.HiddenFor(m => m.Email)
            @Html.AntiForgeryToken()
        }
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}